{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ TITLE }}
{% endblock %}

{% block body %}

    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                 {{ message }}
            </div>
        {% elif message.tags == 'info' %}
            <div class="alert alert-info">
                 {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <form role="form" action="{% url 'encyclopedia:save_new' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="text">Заголовок статті:</label>
            <input required type="text" class="form-control" name="arttitle" placeholder='Введіть заголовок статті' value="{{ ARTICLE_TITLE }}">
        </div>
        <div class="form-group">
            <label for="text">Вміст статті:</label>
            <textarea required rows="11" type="text" class="form-control" name="arttext" placeholder="Введіть статтю">{{ ARTICLE }}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary" name="_save">Записати</button>
        <a class="btn btn-outline-secondary" href="{% url 'encyclopedia:new_page' %}">Очистити</a>
        <a class="btn btn-outline-secondary" href="{% url 'encyclopedia:index' %}">Відмінити</a>

    </form>

{% endblock %}